#container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

#canvas {
  border: solid;
  border-width: 1px;
}

#gameOverText {
  font-size: 40px;
}

button {
  padding: 10px;
  margin: 20px;
}
